@import url("button.css");
@import url("nullstyle.css");
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #333;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: #222;
    overflow: hidden;
    text-align: center;
    width: 100%;
}

.navbar a {
    font-size: 16px;
    color: #fff;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
}

.navbar a:hover {
    background-color: #444;
}

.container{
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #333;
    color: #fff;
}
.center-text {
    font-size: 64px;
    font-weight: bold;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
    /*border: 1px solid #fff;*//
}

.container-2{
}
.button-area {
    margin-top: 15vh;
    font-size: 36px;
    color: #fff;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    text-align: center;
}


.btn-txt {
    margin: 30px;
}


