<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Навигационная панель</title>
    <link rel="stylesheet" href="static/contact.css">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>

    <div class="center-content">
        <div class="contact-txt">
            <p>Страница новая, а:</p>
        </div>
        <div class="center-text">
            Хомчик гей
        </div>
        <div class="contact">
            <p>Автор этого сайта: igorchrkv@gmail.com</p>
        </div>
    </div>
</body>

</html>