<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Homchik.gay</title>
    <link rel="icon" href="/static/img/icon.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/home.css">
</head>

<body>
    <div class="navbar">
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </div>

    <div class="container">
        <div class="center-text">
            Хомчик гей
        </div>

        <div class="button-area">
            <p class="btn-txt">Узнать насколько ты гей:</p>
            <div class="container-2">
                <a href="/button" class="btn btn-two">(Узнать)</a>
            </div>
            <p class="btn-txt">Ты гей на {{ rand_num }}%</p>
        </div>
    </div>
</body>

</html>